<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link type="text/css" rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
	<header>
		<h1 th:text="${titulo}"></h1>
	</header>

	<main>
		<form th:action="@{/resumenProducto}" method="post" th:object="${producto}">
			<div>
				<label for="nombre">Nombre</label><br>
				<input type="text" th:field="*{nombre}" id="nombre">
				<div class="error" id="nombre" th:if="${#fields.hasErrors('nombre')}"  th:errors="*{nombre}"></div>
			</div>
			
			<div>
				<label for="descripcion">Descripción</label><br>
				<input type="text" th:field="*{descripcion}" id="descripcion">			
				<div class="error" id="nombre" th:if="${#fields.hasErrors('descripcion')}"  th:errors="*{descripcion}">	</div>
			</div>
			<div>
				<label for="precio">Precio</label><br>
				<input type="text" th:field="*{precio}" id="precio">
				<div class="error" id="precio" th:if="${#fields.hasErrors('precio')}"  th:errors="*{precio}">	</div>
			</div>
			
			<input type="submit" value="Añadir" class="boton"/>
		</form>
	</main>

	<footer>
		<h4 th:text="${titulo}"> </h4>
	</footer>
</body>
</html>